{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Products</h1>
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            </tr>
        </thead>
        <tbody>
             {% for item in products %}
                <tr>
                    <th>{{ item.name }}</th>
                    <th>{{ item.description}}</th>
                    <th>{{ item.size }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
