body {
    background-color: rgb(104, 109, 103);
    color: #2f372e;
}

.rounded-lg {
    border-radius: 15px; /* Zwiększ wartość, aby bardziej zaokrąglić rogi */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #c8ced4  !important; /* Biały kolor tekstu */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff !important; /* Biały kolor tekstu */
}
 
.navbar-custom .nav-link:hover {
    color: #fff !important; /* Jaśniejszy kolor po najechaniu */
}

.dropdown-menu {
    background-color:  rgb(104, 109, 103);
    border: 0;
}

.dropdown-item {
    color: #fff !important; 
}

.dropdown-menu :hover {
    background-color:  rgb(104, 109, 103);
    color: #c8ced4 !important; /* Jaśniejszy kolor po najechaniu */
}

.btn-language {
    border-radius: 20px;
}

.row {
    margin-top: 50px;
    padding: 20px;
}

.row div {
    padding: 25px;
}

.intro {
    padding: 0 50px 0 50px;
}

.navbar {
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-size: 20px; 
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;  /* To powoduje, że kontener będzie rozciągał się na całą dostępną przestrzeń */
}

.footer {
    margin-top: auto;  /* Dzięki temu stopka będzie zawsze na dole */
}
