body {
    background-color: rgb(104, 109, 103);
    color: #2f372e;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #c8ced4  !important; /* Biały kolor tekstu */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff !important; /* Biały kolor tekstu */
}
 
.navbar-custom .nav-link:hover {
    color: #fff !important; /* Jaśniejszy kolor po najechaniu */
}

.dropdown-menu {
    background-color:  rgb(104, 109, 103);
    border: 0;
}

.dropdown-item {
    color: #fff !important; 
}

.dropdown-menu :hover {
    background-color:  rgb(104, 109, 103);
    color: #c8ced4 !important; /* Jaśniejszy kolor po najechaniu */
}

.btn-language {
    border-radius: 20px;
}

.row {
    padding: 20px;
}

.row div {
    padding: 15px;
}

.intro {
    padding: 0 50px 0 50px;
}

p {
    font-size: 20px; 
    text-align: justify;
    padding: 15px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;  /* To powoduje, że kontener będzie rozciągał się na całą dostępną przestrzeń */
}

.footer {
    margin-top: auto;  /* Dzięki temu stopka będzie zawsze na dole */
    background-color: rgb(87, 92, 87);
}

a {
    color: #c8ced4; 
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 15px;
    border-radius: 25px; 
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    pointer-events: none; 
}

.back-to-top.show {
    opacity: 1;
    pointer-events: auto;
}

.back-to-top:hover {
    background-color: rgb(79, 82, 78);
}

.back-to-top.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(104, 109, 103);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    z-index: 1000;
}

body {
    padding-top: 60px; /* Zapobiega zakrywaniu treści przez navbar */
}


.hidden {
    display: none;
}

.read-more {
    display: inline-block;
 
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}
