{% extends 'base.html.twig' %}

{% block body %}
<center><h1>{{'workorganizer-page.title' |trans}}</h1></center>
<div class="container intro mt-4">
    <p>{{'workorganizer-page.description-01'|trans}}<br>
</div>
{% endblock %}
