{% extends 'base.html.twig' %}

{% block title %}Hello QrzOscarsierraController!{% endblock %}

{% block body %}
<center><h1>{{'qrz-page.title' |trans}}</h1>
<h3><a  href="https://qrz.oscarsierra.pl" target="_blank">qrz.oscarsierra.pl</a></h3></center>
<div class="row">
    <p>{{'qrz-page.description-01'|trans}}<br>
</div>

{% endblock %}
